<div *ngFor="let cow of messages">
    <div class="msg flex-b pd br-5">
        <img src="{{cow.image.medium}}" alt=""  class="img-size-1">
        <div style="width: 80%; padding-top: 1rem;">{{cow.name}}</div>
        <div class="time-stamp">time</div>
    </div>
</div>

<!-- <div>
    <div class="msg flex-b pd br-5">
        <img src="../../assets/images/developer.png" alt=""  class="img-size-1">
        <div style="width: 80%; padding-top: 1rem;">{{messages}}</div>
        <div class="time-stamp">time</div>
    </div>
</div> -->